.hero {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem 1rem;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-verde-claro);
  margin-bottom: 2rem;
}

.heroContent {
  flex: 1 1 400px;
  min-width: 300px;
}

.hero h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.heroButtons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}